<nav class="navbar navbar-expand-lg fixed-top">
    <a href="/dashboard" class="navbar-brand">Admin</a>

    <!--<a href="/dashboard" class="navbar-AccountStatus">Status: <div class="navbar-AccountStatus status">{{status}}</div></a>-->

    <!--<div class="dropdown">-->
        <!--<button class="dropbtn " ><i class="fa fa-user" aria-hidden="true"></i>{{placeName}}</button>-->
        <!--<div class="dropdown-content">-->
            <!--<a routerLink="/account-setting" [routerLinkActive]="['router-link-active']" href="">Profile</a>-->
            <!--<a href="#">Settings</a>-->
            <!--<a href="/" (click)="onLogOut()">Log Out</a>-->
        <!--</div>-->
    <!--</div>-->

    </nav>