<app-page-header
        [heading]="'Vet Restaurant'"
        [icon]="'fa fa-plus-circle'"
        [breadCrumbs]= breadCrumbs
        xmlns="http://www.w3.org/1999/html">
</app-page-header>


<form [formGroup]="myForm" >
    <div class="col-md-6">

        <label>Establishment Name</label>
        <input
                disabled
                class="form-control"
                formControlName="placeName"
                type="text"
                id="placeName"
                name="placeName">


        <div class="get-address">
            <label>Address</label>
            <input
                    disabled
                    class="form-control"
                    formControlName="address"
                    type="text"
                    id="address"
                    name="address">

        </div>

        <label>Longitude</label>
        <input
                disabled
                class="form-control"
                formControlName="lng"
                type="text"
                id="lng"
                name="lng">

        <label>Latitude</label>
        <input
                disabled
                class="form-control"
                formControlName="lat"
                type="text"
                id="lat"
                name="lat">



        <label>Registration Number</label>
        <input
                disabled
                class="form-control"
                formControlName="regNo"
                type="text"
                id="regNo"
                name="regNo">

        <label>Contact Number</label>
        <input
                disabled
                class="form-control"
                formControlName="telNo"
                type="text"
                id="telNo"
                name="telNo">

        <div class="submit-all">
            <button
                    style="margin-top: 20px"
                    (click)="onSubmit()"
                    type="submit"
                    [disabled]="!myForm.valid">
                Activate
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <label>Account Number</label>
        <input
                disabled
                style="width: 90%"
                class="form-control"
                formControlName="accNo"
                type="text"
                id="accNo"
                name="accNo">

        <label>Bank</label>
        <input
                disabled
                style="width: 90%"
                class="form-control"
                formControlName="bank"
                type="text"
                id="bank"
                name="bank">

        <label>Branch Code</label>
        <input
                disabled
                style="width: 90%"
                class="form-control"
                formControlName="branchCode"
                type="text"
                id="branchCode"
                name="branchCode">


        <label>Account Type</label>
        <input
                disabled
                style="width: 90%"
                class="form-control"
                formControlName="accType"
                type="text"
                id="accType"
                name="accType">


    </div>


</form>

<button type="button" class="control" (click)="takeControl()">CONTROL</button>

<ngx-smart-modal #controlModal identifier="controlModal">
    <div class="modal-body">
        <h1>Control Code</h1>
        <p style="word-wrap: break-word">{{code}}</p>
        <button class="copy"
                ngxClipboard
                [cbContent]="code"
        ><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <div class="ok">
            <button (click)="controlModal.close()">Close</button>
        </div>
    </div>
</ngx-smart-modal>