<nav class="sidebar">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" href="">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <div class="link-name">Dashboard</div>
        </a>

        <a routerLink="/vetting" [routerLinkActive]="['router-link-active']" class="list-group-item" href="">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <div class="link-name">Vetting</div>
        </a>

        <a routerLink="/create-user" [routerLinkActive]="['router-link-active']" class="list-group-item" href="">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="link-name">Create User</div>
        </a>
    </div>
</nav>