.breadcrumb{
    background-color: #4DA1A9;
    color: black;
    margin-right: 15px;
    margin-left: 15px;
}

.page-header{
    border-bottom: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-bottom: 0px;
}

.breadcrumb>li+li:before {
    color: white;

}

.breadcrumb-item{
    color: white;
}